<section data-ng-controller="ClientesController" data-ng-init="find()">
  <div class="page-header">
    <h1>Cities</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="city in cities" data-ui-sref="cities.view({cityId: city._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="city.created | date:'mediumDate'"></span>
        by
        <span data-ng-bind="city.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="city.title"></h4>
      <p class="list-group-item-text" data-ng-bind="city.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="cities.$resolved && !cities.length">
    No cities yet, why don't you <a data-ui-sref="cities.create">create one</a>?
  </div>
</section>
